<div class="container-show-crops">
    <ul class="left-ul">
        <li><a class="left-active">Cultivo 1</a></li>
        <li><a class="left-a">Cultivo 2</a></li>
        <li><a class="left-a">Cultivo 3</a></li>
    </ul>

    
<div class="heat-map">
    <h2>Cultivo 1</h2>

</div>
