<%= javascript_include_tag('heatmap.js') %>
<div class="container-show-crops">
    <ul class="left-ul">
        <li><a class="left-active" >Cultivo 1</a></li>
        <li><a class="left-a">Cultivo 2</a></li>
        <li><a class="left-a">Cultivo 3</a></li>
    </ul>

    
<div class="heat-map">
    <h2>Cultivo 1</h2>
    <div id="heatmapContainer" style="width: 600px; height: 400px;"></div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var heatmapContainer = document.getElementById('heatmapContainer');
        var heatmap = h337.create({
        container: heatmapContainer,
        // Configura opciones adicionales según sea necesario
        });

        // Ejemplo de datos para el mapa de calor
        var dataPoints = [
        { x: 10, y: 15, value: 5 },
        { x: 50, y: 50, value: 2 },
        { x: 235, y: 123, value: 1 },
        { x: 23, y: 56, value: 5 },
        { x: 199, y: 432, value: 90 },
        { x: 157, y: 700, value: 6 },
        { x: 598, y: 345, value: 3 },
        { x: 201, y: 345, value: 10 },
        // más datos aquí...
        ];

        heatmap.setData({
        max: 10,
        data: dataPoints
        });
    });
    </script>
</div>
